'*':
  'expand-region':
    commands: [
      {
        command: 'editor:select-word'
        recursive: false
      }
      {
        command: 'expand-region:select-word-include-dash',
        recursive: false
      }
      {
        command: 'expand-region:select-word-include-dash-and-dot',
        recursive: false
      }
      {
        command: 'expand-region:select-fold'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-paragraph'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-parentheses'
        recursive: true
      }
      {
        command: 'expand-region:select-around-parentheses'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-curly-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-around-curly-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-square-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-around-square-brackets'
        recursive: true
      }
    ]
'.text.html':
  'expand-region':
    commands: [
      {
        command: 'editor:select-word'
        recursive: false
      }
      {
        command: 'emmet:balance-outward'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-angle-brackets'
        recursive: false
      }
      {
        command: 'expand-region:select-around-angle-brackets'
        recursive: false
      }
      {
        command: 'expand-region:select-tag-attribute'
        recursive: false
      }
    ]
'.source.css':
  'expand-region':
    commands: [
      {
        command: 'editor:select-word'
        recursive: false
      }
      {
        command: 'expand-region:select-word-include-dash',
        recursive: false
      }
      {
        command: 'expand-region:select-scope'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-paragraph'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-parentheses'
        recursive: true
      }
      {
        command: 'expand-region:select-around-parentheses'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-curly-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-around-curly-brackets'
        recursive: true
      }
    ]
'.source.js':
  'expand-region':
    commands: [
      {
        command: 'editor:select-word'
        recursive: false
      }
      {
        command: 'expand-region:select-word-include-dash',
        recursive: false
      }
      {
        command: 'expand-region:select-word-include-dash-and-dot',
        recursive: false
      }
      {
        command: 'expand-region:select-fold'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-paragraph'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-parentheses'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-back-ticks'
        recursive: true
      }
      {
        command: 'expand-region:select-around-parentheses'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-curly-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-around-curly-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-square-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-around-back-ticks'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-back-ticks'
        recursive: true
      }
    ]
'.source.js.jsx':
  'expand-region':
    commands: [
      {
        command: 'editor:select-word'
        recursive: false
      }
      {
        command: 'emmet:balance-outward'
        recursive: true
      }
      {
        command: 'expand-region:select-word-include-dash',
        recursive: false
      }
      {
        command: 'expand-region:select-word-include-dash-and-dot',
        recursive: false
      }
      {
        command: 'expand-region:select-inside-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-single-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-around-double-quotes'
        recursive: false
      }
      {
        command: 'expand-region:select-inside-parentheses'
        recursive: true
      }
      {
        command: 'expand-region:select-around-parentheses'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-curly-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-around-curly-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-inside-square-brackets'
        recursive: true
      }
      {
        command: 'expand-region:select-around-square-brackets'
        recursive: true
      }
    ]
